.h6, h6 {
    font-size: 1.25rem;
    margin: 0;
}

h5{
    margin: 0%;
}

.adicionar_atracao{
    display: flex;
    flex-direction: row;
    gap: 4%;
    align-items: center;
    height: 50px;

    button{
        background-color: transparent;
        border:none;
        outline: none;
    }

    i{
        font-size: 2rem;
    }
}

.popup {
    visibility: hidden;
    width: 300px;
    background-color: green;
    color: white;
    text-align: center;
    padding: 16px;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.popup.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
    p{
        margin: 0;
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}


.background-box {
    padding: 10px;
    border: solid 1px #163915;
    height: auto;
    margin-bottom: 20px;
}

.group-box {
    display: flex;
    justify-content: space-between;
}

.input-group {
    margin-bottom: 16px;
    width: 47%;
    align-items: center;
}

.form-control  {
    background-color: #0f93321b;
    border: solid 1px #163915;
    width: 100%;
}

.form-group {
    margin-bottom: 1rem;
    width: 50%;
}

.proximo1 {
    display: flex;
    width: 100%;
    justify-content: end;

    button {
        width: 54%;
        background-color: #fff;
        color: #C7530C;
        border: solid 1px #C7530C;
        font-size: 1.2rem;
        font-weight: 500;

        a {
            text-decoration: none;
            color: #fff;
        }
    }
}

.proximo-voltar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 70px;

    .btn-outline-secondary {
        width: 40%;
        color: #C7530C;
        border: solid 1px #C7530C;
        font-size: 1.2rem;
        font-weight: 500;

        a {
            text-decoration: none;
            color: #C7530C;
        }
    }

    .btn-secondary {
        width: 40%;
        background-color: #C7530C;
        color: #fff;
        border: none;
        font-size: 1.2rem;
        font-weight: 500;

        a {
            text-decoration: none;
            color: #fff;
        }
    }
}
