body {
    padding: 20px;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    h4 {
    font-weight: bolder;
    }

}

/* h5 {
    font-weight: bold;
    margin-bottom: .8rem;
} */

.upload-container {
    max-width: 500px;
    margin: 0 0 8px;
    padding: 20px;
    border: 1px solid #163915;
    border-radius: 5px;
    text-align: center;
    background-color: #0f93321b;
}

.upload-container h5 {
    color: #817D7D;
    margin-bottom: 20px;
}

.upload-container input[type="file"] {
    display: none;
}

.upload-container label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #C7530C;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.preview-container {
    margin-top: 20px;
}

.preview-container img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}

label {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0;
}

.form-control {
    background-color: #0f93321b;
    border: solid 1px #163915;
}

#dateInput {
    width: 50%;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    width: 50%;
}

.proximo {
    display: flex;
    width: 100%;
    justify-content: end;
    margin-bottom: 70px;

    button {
        width: 40%;
        background-color: #C7530C;
        color: #fff;
        border: none;
        font-size: 1.2rem;
        font-weight: 500;

        a {
            text-decoration: none;
            color: #fff;
        }
    }
}
