.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    h4 {
    font-weight: bolder;
    }

}

.btnOpenFilter{
    display: flex;
    padding-left: 70%;
}
  
.btnOpenFilter button{
    background-color: rgba(199, 83, 12, 1);
    border: 2px solid rgba(199, 83, 12, 1);
    color: white;
    width: 30vw;
    padding: 6px;
    border-radius: 6px;
}

.cards-eventos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 50px;
    padding-top: 20px;
    gap: 20px;
}

.eventos {
    display: flex;
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 3%;
    min-width: 200px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 23%);
    color: black;
    word-break: break-all;

    img {
        width: 40%;
    }

    .infos {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        font-size: 14px;
        color: #163915;

        .spanTitulo{
            color: black;
            font-size: 18px;
        }
    }
}
a.card-link {
    text-decoration: none;
    color: inherit; 
}

a.card-link:hover {
    text-decoration: none; 
    color: inherit; 
}

.buttons_search_filter{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.proximo-voltar2 {
    display: flex;
    width: 100%;
    margin-bottom: 20px;

    .btn-outline-secondary {
        width: 100%;
        color: #C7530C;
        border: solid 1px #C7530C;
        font-size: 1.2rem;
        font-weight: 500;

        a {
            text-decoration: none;
            color: #C7530C;
        }
    }
}