.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    h4 {
    font-weight: bolder;
    }

}

.btnOpenFilter{
    display: flex;
    padding-left: 70%;
}
  
.btnOpenFilter button{
    background-color: rgba(199, 83, 12, 1);
    border: 2px solid rgba(199, 83, 12, 1);
    color: white;
    width: 30vw;
    padding: 6px;
    border-radius: 6px;
}

.cards-eventos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 50px;
    padding-top: 20px;
    gap: 20px;
}

.eventos {
    display: flex;
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 3%;
    min-width: 200px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 23%);
    color: black;
    word-break: break-all;

    img {
        width: 40%;
    }

    .infos {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        font-size: 14px;
        color: #163915;

        .spanTitulo{
            color: black;
            font-size: 18px;
        }
    }
}

.bloco_botoes {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
}