@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", "san-serif";
}

.pic {
  display: block;
  margin: 0;
  text-align: center;
}

.names {
  display: flex;
  text-align: center;
}

.btn-group {
  width: auto;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  display: none;
}

.btn-outline-primary {
  color: #000;
  background-color: transparent;
  background-image: none;
  border-color: #007bff;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.informacoes {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 18px;
  text-align: start;
  padding-bottom: 10px;
  word-break: break-all;
}

.informacoes1 {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.proximo-voltar {
  width: 100%;

  .btn-outline-secondary {
    width: 100%;
    color: #C7530C;
    border: solid 1px #C7530C;
    font-size: 1.2rem;
    font-weight: 500;
  }
}

.allOrgs {
  display: flex;
  flex-direction: column;
}

.photo0 {
  width: 113px;
  height: 113px;
}

.orgs {
  box-shadow: 1px 1px 5px;
  border-radius: 8px;
  height: 14vh;
  display: flex;
  align-items: flex-start;
}

.allCards {
  display: flex;
  flex-direction: column;
  align-self: start;
}

.cards {
  align-items: start;
  display: flex;
  font-size: 18px;
  flex-direction: column;
}

.cards1 {
  align-items: start;
  display: flex;
  font-size: 14px;
  flex-direction: column;
  color: rgba(22, 57, 21, 1);
}

.h3,
h3 {
  font-family: "Poppins";
  font-size: 14px;
}

.h4,
h4 {
  font-family: "Poppins";
  font-size: 20px;
}

.a,
a {
  font-size: 18px;
}

.h5,
h5 {
  font-weight: bold;
}

.menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f8f9fa;
  border-top: 1px solid #e7e7e7;
  z-index: 1030;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.opcoes {
  color: #000;
  text-align: center;
  flex: 1;
}

.menu a {
  text-decoration: none;
}

a:hover {
  color: #000;
}

.h6,
h6 {
  font-size: 0.82rem;
}