/* Cores do projeto Ecoflow - tela de login
.header{
cor fundo, color: rgba(255, 255, 255, 1);
cor inputs, color: rgba(15, 147, 51, 0.08);
cor botao ENTRAR, color: rgba(199, 83, 12, 1);
cor frase, color: rgba(22, 57, 21, 1);
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', 'san-serif';
}

body {
  background-color: rgba(22, 57, 21, 1);
  height: 100vh;
  display: flex;
  align-items: end;
  width: auto;
}

.foto{
margin-top: 8vh;
}

.frase {
  color: rgba(22, 57, 21, 1);
  font-size: 22px;
  display: flex;
}

.quadradoForms {
  background-color: #ffffff;
  border-radius: 35px;
  display: flex;
  width: 100%;
  height: 780px;
  align-items: center;
  flex-direction: column;
}

.container-forms{
display: flex;
align-items: center;
flex-direction: column;
width: 100%;
}

.input {
  background-color: rgba(15, 147, 51, 0.08);
  border-radius: 5px;
  width: 35vh;
}

.forms {
  border-radius: 5px;
  color: #000000;
  font-size: 18px;
  height: 2px;
}

.forms1{
display: flex;
justify-content: space-between;
flex-direction: column;
}

.forms2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

/* .container-esqueci{

} */

.esqueci {
  color: #000000;
  font-size: 14px;
  text-align: end;
  margin-left: 18vh;
}

.btn-abaixar {
  margin: 5px;
  background-color: #393D46;
  color: #393D46;
  width: 10vh;
  position: absolute;
  background-position: center;
}

.btn-entrar {
  background-color: rgba(199, 83, 12, 1);
  color: whitesmoke;
  border-radius: 5px;
  width: 15vh;
  position: relative;
  border-color: rgba(199, 83, 12, 1);
}

.campo {
  position: relative;
  width: 20rem;
  text-align: start;
  align-self: center;
  margin: 0;
  position: relative;
  top: 1rem;
}

.campo input {
  width: 100%;
  padding: 0.3rem;
  background: rgba(15, 147, 51, 0.08);
  outline: none;
  border: 1px solid black;
  font-size: 1em;
  border-radius: 0.6rem;
}

.campo span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 0.9rem;
  color: black;
  text-transform: uppercase;
  transition: 0.5s;
  position: relative;
  bottom: 2rem;
  z-index: 1;
}

.campo input:valid~span,
.campo input:focus~span {
  color: whitesmoke;
  background-color: #c211a1;
  border-color: black;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.85em;
  padding: 0 10px;
  position: relative;
  bottom: 3.2rem;
  left: 0.5rem;
  border-radius: 0.3rem;
}

.campo input:valid,
.campo input:focus {
  border-color: #8400a5;
}

#botao_cadastro {
  font-size: medium;
  margin-top: 5vh;
  height: 5vh;
  width: 150px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  border-radius: 9px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#botao_cadastro:hover {
  background-color: #8400a5;
  color: rgb(255, 255, 255);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.container {
  display: flex;
  width: 100%;
  height: 70vh;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}


/* footer */

.footer {
  width: 100%;
  background-color: #ffffff;
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  top: 13vh;
  flex-direction: column;
}

.hamburger {
  display: none;
}

.hamburger1 {
  display: none;
}

li {
  list-style: none;
}

.nav-list {
  padding: 0;
}

.container-footer {
  display: flex;
  width: 90%;
  height: auto;
  justify-content: space-around;
  align-items: center;
}

.footer-left img {
  height: 150px;
  width: 150px;
  position: relative;
  top: 5vh;
}

.footer-info {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 5vh;
  align-items: center;
  text-align: center;
}

.footer-info h1 {
  color: #393D46;
  font-size: 20px;
}

.footer-info a {
  color: #393D46;
  margin: 5px;
  text-decoration: none;
}

.footer-info2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  top: 5vh;
}

.footer-info2 h1 {
  color: #393D46;
  font-size: 20px;
}

.footer-info2 a {
  color: #393D46;
  margin: 5px;
  text-decoration: none;
}

.footer-info a:hover {
  font-weight: 800;
  color: #8400a5;
}

.container2-footer {
  display: flex;
  width: 90%;
  height: auto;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.footer-direitos {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-self: center;
  padding-top: 7vh;
}

.icons-footer {
  width: 40%;
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 30%;
  margin-right: 30%;
}

.fa {
  color: slateblue;
}

.card_erro {
  display: none;
  background-color: #ff3366;
  /* Cor de fundo mais atraente */
  color: #fff;
  /* Texto em branco para contraste */
  width: 230px;
  position: fixed;
  border-radius: 10px;
  border: 2px solid #e6005a;
  /* Borda ligeiramente mais fina */
  padding: 20px;
  /* Maior espaçamento interno */
  margin-left: 50%;
  /* Centralize horizontalmente */
  transform: translateX(-50%);
  /* Centralize horizontalmente */
  right: -250px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* Sombra suave */
  transition: right 0.5s ease-in-out;
  animation: slideInFromRight 1s ease-in-out forwards;
  animation: slideInFromRight 1s ease-in-out forwards, slideOutToRight 1s ease-in-out 2s forwards;
  z-index: 9;
}

@keyframes slideOutToRight {
  0% {
    right: 5%;
    /* Inicialmente, na posição desejada */
  }

  100% {
    right: -450px;
    /* Volta para a direita após 5 segundos */
  }
}

@keyframes slideInFromRight {
  0% {
    right: -450px;
    /* Inicialmente, fora da tela à direita */
  }

  100% {
    right: 5%;
    /* Desliza para a esquerda para uma posição desejada */
  }
}

@media screen and (max-width: 600px) {
  .footer {
    display: flex;
    top: 25vh;
  }
}