.menu {
    position: fixed;
    bottom: -1px;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    border-top: 1px solid #e7e7e7;
    z-index: 555;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    height: 8%;
    box-shadow: 0px 2px 19px 0px rgba(0, 0, 0, 0.308);
}

.opcoes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: black;
    p{
        font-size: 12px;
        margin: 0;
    }
}
.menu a {
    text-decoration: none;
    color: black;
}