@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', 'san-serif';
}

body {
  padding: 20px;
  /* background-color: #EDEDED; */
}

/* CARDS */
.cardEventos {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 13px;

    a {
        text-decoration: none;
        color: #163915;
        font-weight: 700;
    }

    h5 {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 0;
    }
}

.filtrar {
    width: 100%;
    height: 5vh;
    margin: 1vh;

  }
  
  .btn-group {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(151, 151, 151, 0.36);
    height: 37px;
    width: 100%;
    border-radius: 55px;
  }
  
  .btn-group label {
    border: none;
  }
  
  .btn-check:checked+.btn,
  .btn.active,
  .btn.show,
  .btn:first-child:active,
  :not(.btn-check)+.btn:active {
    color: var(--bs-btn-active-color);
    font-weight: bold;
    background-color: rgba(199, 83, 12, 1);
    border-color: rgba(199, 83, 12, 1);
  }
  
  .btn-group>.btn-group:not(:last-child)>.btn,
  .btn-group>.btn.dropdown-toggle-split:first-child,
  .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-radius: 55px;
    margin: 0;
  }
  
  .btn-group>.btn-group:not(:first-child)>.btn,
  .btn-group>.btn:not(:first-child) {
    border-radius: 55px;
    margin: 0;
  }
  
  .btn-outline-primary {
    --bs-btn-color: rgba(22, 57, 21, 1);
    --bs-btn-border-color: none;
    --bs-btn-font-weight: 500;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgba(22, 57, 21, 1);
    --bs-btn-hover-border-color: rgba(22, 57, 21, 1);
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgba(22, 57, 21, 1);
    --bs-btn-active-border-color: rgba(22, 57, 21, 1);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: rgba(22, 57, 21, 1);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: rgba(22, 57, 21, 1);
    --bs-gradient: none;
  }
  
  .filtrar {
    display: flex;
    justify-content: center;
    height: 5vh;
    border: 1rem;
  }

  .titulo {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: fit-content;
    font-size: 22px;
    font-weight: bold;
    color: #163915;
  }
  
  /* botões inicio */
  .bloco_botoes {
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bloco_filtros {
  display: flex;
  height: 50px;
  padding: 5px;
  font-size: 16px;
}

.offcanvas,
.offcanvas-lg,
.offcanvas-md,
.offcanvas-sm,
.offcanvas-xl,
.offcanvas-xxl {
  --bs-offcanvas-height: 50%;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: rgba(199, 83, 12, 1);
  --bs-btn-border-color: rgba(199, 83, 12, 1);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: rgba(199, 83, 12, 1);
  --bs-btn-hover-border-color: rgba(199, 83, 12, 1);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: rgba(199, 83, 12, 1) !important;
  --bs-btn-active-border-color: rgba(199, 83, 12, 1);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: rgba(199, 83, 12, 1);
  --bs-btn-disabled-border-color: rgba(199, 83, 12, 1);
}

.btn .btn-outline-primary:active {
  background-color: aqua !important;
}

.form-select-sm {
  font-size: 18px;
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
}

.input-group>.form-control,
.input-group>.form-floating,
.input-group>.form-select {
  width: 42vw;
}

.titulo_filtro{
  padding-top: 16px;
}

.filtrar_local{
  width: 100%;
  input{
    width:100%;
  };
}

.grp_btn{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding-top: 2%;
}

.secondary_btn{
  background-color: white;
  border-radius: 4px 4px 4px 4px;
  border: rgba(199, 83, 12, 1) 2px solid;
  font-size: 18px;
  padding: 8px;
}

.primary_btn{
  background-color: rgba(199, 83, 12, 1);
  border-radius: 4px 4px 4px 4px;
  color: white;
  padding: 8px;
  font-size: 18px;
  border: none;
}

/* cards da listagem de eventos */

.listagem_eventos{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.card_evento{
  display: flex;
  align-items: center;
  height: 18vh;
  border: 1px solid #e7e7e7;
  box-shadow: 0 4px 8px rgb(0 0 0 / 23%);
  border-radius: 1rem;
  padding: 1vh;
  margin: 1vh;
}

/* .imagem_evento{

} */

.desc_evento{
  width: 60%;
  font-size: 18px;
  padding: 1vh;
}

.desc_evento h5 {
  font-weight: 500;
}

.desc_evento span {
  font-size: 16px;
}