@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', 'san-serif';
}

body {
    padding: 20px;
}

.main_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0%;

    i{
        font-size: 100px;
    }

    #nomeUsuario{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 4px;
    }

    #nomeDaEmpresa{
        font-size: 18px;
    }
}

.div_main_info{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-bottom: 20px;


    p{
        margin-bottom: 4px;
        font-size: 18px;
        font-weight: bold;
    }
}

.div_info{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.openBarMain{
    margin-left: 10px;
}

.btns_navegation{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
}
    .btn_primary{
        border: none;
        background-color:#C7530C;
        border-radius: 6px;
        padding: 8px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .btn_editar{
        border: 1px solid #C7530C;
        color:#C7530C;
        border-radius: 6px;
        padding: 8px;
        padding-left: 16px;
        padding-right: 16px;
        
    }
.btn_primary a {
    text-decoration: none;
    color: white;
}

.btn_editar a {
    text-decoration: none;
    color: black;
}

.proximo-voltar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 70px;

    .btn-outline-secondary {
        width: 40%;
        color: #C7530C;
        border: solid 1px #C7530C;
        font-size: 1.2rem;
        font-weight: 500;

        a {
            text-decoration: none;
            color: #C7530C;
        }
    }

    .btn-secondary {
        width: 40%;
        background-color: #C7530C;
        color: #fff;
        border: none;
        font-size: 1.2rem;
        font-weight: 500;

        a {
            text-decoration: none;
            color: #fff;
        }
    }
}

