@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', 'san-serif';
}

body {
    background-color: #f1f1f1;
    padding: 20px;
    background-color: #f1f1f1;
}

.carousel-indicators {
    position: static;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    margin: 0;
}


.carousel-indicators li {
    width: 30px;
    height: 10px;
    background-color: transparent;
    border: 2px solid #C7530C;
    border-radius: 20px;
    cursor: pointer;
}

.carousel-indicators .active {
    background-color: #C7530C;
    border-color: #C7530C;
}

/* .carousel-item {
    position: relative;
} */

.carousel-caption {
    z-index: 10;
    /* padding-top: 20px; */
    padding-bottom: 75px;
    color: #fff;
    text-align: center;

    .h5, h5 {
        font-size: 22px;
    }
}

.nichos {
    display: flex;
    width: 100%;
    padding-bottom: 16px;
}

.nicho {
    width: 25%;
    height: 15vh;
}


.nicho h5 {
    font-size: 18px;
}

.nicho a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}

.colaboradores {
    width: 100%;
    height: 17vh;
    background: url(../assets/Group\ 33651.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 70px;
    display: flex;
    align-items: end;
    box-shadow: 0px 2px 19px 0px rgba(0, 0, 0, 0.308);
    border-radius: 8px;
    background-position: center;

    button {
        width: 37%;
        background-color: #C7530C;
        color: #fff;
        border: none;
        font-size: 1.2rem;
        position: relative;
        left: 0.7rem;
        bottom: 1.2rem;
    }

    button:hover {
        background-color: #2f722d;
        color: #ffffff;
        border: solid 1px #C7530C;
    }
}

/* CARDS */
.cardEventos {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 13px;

    a {
        text-decoration: none;
        color: #163915;
        font-weight: 700;
        font-size: 14px;
    }

    h4 {
        font-size: 22px;

        font-weight: 600;
        margin: 0;
    }
}

.imgs_carousel {
    i {
        font-size: 23rem;
        color: #C7530C;
    }
}

.a_line {
    text-decoration: none;
    color: white;

    i {
        font-size: 2rem;
        color: white; /* Ensures the icon is white by default */
    }
    
    i::after {
        color: #fff;
    }

    &:hover i {
        color: white; /* Keeps the icon white on hover */
    }
}

.cards {
    display: flex;
    overflow-x: auto;
    padding: 8px 0px 20px 0px;
    white-space: nowrap;
}

.cardItem {
    display: inline-block;
    flex: 0 0 auto;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 15px;
    min-width: 200px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 23%);
    color: black;
}

.cardItem img.img-background {
    width: 100%;
    border-radius: 5px;
}

.titulo {
    color: #163915;
    font-size: 18px;
    font-weight: bold;
    margin: 0%;
}

.organizedDtas {
    display: flex;
    flex-direction: column;
}

.dataEvento {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    font-size: 16px;

    img {
        padding-right: 4%;
    }
}

.dataLocal {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    font-size: 16px;

    img {
        padding-right: 4%;
    }
}

.btn-outline-secondary:hover {
    background-color: #fff;
    color: #C7530C;
    border: solid 1px #C7530C;
}

.dataCalendarioEvento {
    padding: 9px;
    background-color: #ffffffba;
    position: absolute;
    margin: 2%;
    border-radius: 4px 4px 4px 4px;
    color: #163915;
    font-size: 18px;
    font-weight: bold;
}

.organizedDtas {
    font-size: 16px;
}

.card-link {
    text-decoration: none;
    color: black;
}